{% extends 'base.html.twig' %}

{% block title %}brandworks.dev{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Registrierung</h2>
            {{ form_start(reg_form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                <div class="row g-3">
                    <div class="col-md-6">
                        {{ form_row(reg_form.vorname, {'attr': {'class': 'form-control'}, 'label': 'Vorname'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(reg_form.nachname, {'attr': {'class': 'form-control'}, 'label': 'Nachname'}) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(reg_form.adresse, {'attr': {'class': 'form-control'}, 'label': 'Adresse'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(reg_form.plz, {'attr': {'class': 'form-control'}, 'label': 'PLZ'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(reg_form.wohnort, {'attr': {'class': 'form-control'}, 'label': 'Wohnort'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(reg_form.geburtsdatum, {'attr': {'class': 'form-control'}, 'label': 'Geburtsdatum'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(reg_form.email, {'attr': {'class': 'form-control'}, 'label': 'E-Mail'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(reg_form.username, {'attr': {'class': 'form-control'}, 'label': 'Benutzername'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(reg_form.password, {'attr': {'class': 'form-control'}, 'label': 'Passwort'}) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(reg_form.benutzer_anlegen, {'attr': {'class': 'btn btn-primary btn-block'}}) }}
                    </div>
                </div>
            {{ form_end(reg_form) }}
        </div>
    </div>
</div>
{% endblock %}